In [ ]:
import pandas as pd

# 1. raw Dataset laden
df = pd.read_csv('Used-Car-Data-Mining/data/vehicles.csv')  # Pfad zum Dataset anpassen


# 2. Funktion zum Extrahieren der Stellen 4–8 der VIN
def extract_vin_positions(vin):
    if pd.isna(vin) or len(str(vin)) < 8:
        return None
    return str(vin)[3:8]  # Stellen 4–8 (Index 3 bis 7)


# Change from Richard to enable use of split data sets
def impute_model(df):
    

    # 3. Daten bereinigen: Nur Zeilen mit VIN und Model behalten
    df_vin_model = df[['VIN', 'model', 'manufacturer', 'year']].dropna(subset=['VIN', 'model'])

    # 4. VIN-Stellen 4–8 extrahieren
    df_vin_model['vin_vds'] = df_vin_model['VIN'].apply(extract_vin_positions)

    # 5. Zuordnung erstellen: VIN VDS (Stellen 4–8) zu häufigstem Modell
    vin_vds_model_mapping = df_vin_model.groupby('vin_vds')['model'].agg(lambda x: x.mode()[0] if not x.empty else None).to_dict()

    # 6. Imputation durchführen
    # Neue Spalte für imputierte Modelle
    df['model_imputed'] = df['model']

    # Für Zeilen, wo 'model' fehlt, aber 'VIN' vorhanden ist
    mask = df['model'].isna() & df['VIN'].notna()

    # VIN-Stellen 4–8 für Imputation extrahieren
    df['vin_vds'] = df['VIN'].apply(extract_vin_positions)

    # Imputation mit VIN VDS (Stellen 4–8)
    df.loc[mask, 'model_imputed'] = df.loc[mask, 'vin_vds'].map(vin_vds_model_mapping)

    # 7. Ergebnisse analysieren
    total_rows = len(df)
    missing_models = df['model'].isna().sum()
    imputed_models = df['model_imputed'].notna().sum() - df['model'].notna().sum()

    print(f"Anzahl der Zeilen im Dataset: {total_rows}")
    print(f"Anzahl der Zeilen mit fehlendem 'model': {missing_models}")
    print(f"Anzahl der imputierten Modelle: {imputed_models}")

    # 8. Beispiel der Zuordnung anzeigen
    print("\nBeispiel für VIN VDS (Stellen 4–8) zu Modell-Zuordnung:")
    print(list(vin_vds_model_mapping.items())[:5])

    # 9. Ausgabe von 30 Zeilen, in denen das Modell imputiert wurde
    print("\n30 Zeilen mit imputierten Modellen (manufacturer, VIN, model_imputed):")
    imputed_rows = df[mask & df['model_imputed'].notna()][['manufacturer', 'VIN', 'model_imputed']].head(60)
    print(imputed_rows.to_string(index=False))

    #Restlichen NaN-Werte in der Hersteller-Spalte entfernen
    df = df.dropna(subset=['model'])

    # 10. Imputierte Zeilen speichern
    df.to_csv('vehicles_imputed.csv', index=False)

Anzahl der Zeilen im Dataset: 426880
Anzahl der Zeilen mit fehlendem 'model': 5277
Anzahl der imputierten Modelle: 1404

Beispiel für VIN VDS (Stellen 4–8) zu Modell-Zuordnung:
[('00000', 'highlander limited'), ('00001', 'Other Astec RT1000 Trencher'), ('00002', 'Packard Touring Sedan 2392'), ('0000R', 'pickup'), ('0000S', 'daihatsu hijet')]

30 Zeilen mit imputierten Modellen (manufacturer, VIN, model_imputed):
 manufacturer               VIN              model_imputed
        rover SALMF13428A268857                   supercha
        rover SALGS2EF0EA134342                         sc
        rover SALGS2EF0EA134342                         sc
        rover SALGS2EF0EA134342                         sc
mercedes-benz WDDUG7JB0FA091124                    s-class
    chevrolet 1G1YU2D67F5604134                   corvette
        dodge 2C3CDZH95JH100203             challenger srt
         ford 1FA6P8JZ6L5551127                    mustang
        dodge 2C3CDZH98JH100129             challenger srt
      ferrari ZFF65LJA0A0172228                 california
        rover SALWR2VF1FA605973                      sport
          ram 1D3HV18P49S804886                       1500
      hyundai KM8K5CA58JU090249                       kona
        rover SALWR2VF1FA605973                      sport
          ram 1D3HV18P49S804886                       1500
          ram 3D7TT2CT6BG552399                       2500
          ram 3D7TT2CT6BG552399                       2500
        rover SALGS2FE1HA370749                    4dr suv
       toyota 4T1BK3DBXCU456015                     avalon
          ram 3D7KS28C65G861818                       2500
        rover SALME1D41CA360486                  hse 4x4 s
         ford 5TDZA22C44S178536                     sienna
          ram 3D3KS28C55G775711                       2500
        lexus JTHFE2C28D2509640   is 350 sport convertible
         ford 1FTEW1E54LKD53526                      f-150
       toyota JTDKDTB30K1625579                    prius c
         fiat 3C3CFFFH9DT709504    500 abarth hatchback 2d
    chevrolet 1GNSCHKC8KR272663                   suburban
       toyota 4T1C11AK1LU968407                      camry
         jeep 1C4PJLCS7GW258811                   cherokee
       toyota 2T3P1RFV2MW166024                       rav4
      hyundai 5NPD84LF1KH412340                    elantra
     infiniti 5N1AL0MN4FC526832     qx60 3.5 sport utility
    chevrolet 1GNSCHKC8KR272663                   suburban
          ram 3D7KS19D97G804842                       1500
          ram 3D3KS28C55G775711                       2500
          ram 3D3KS28C55G775711                       2500
          bmw WBA2H9C37H7A25976 2 series 230i xdrive coupe
    chevrolet 1G1YU2D69G5700414                   corvette
    chevrolet 1G1YY2D77J5102469                   corvette
         ford 1FTFW1RG9KFA79182                      f-150
     chrysler 3A4FY48B77T520302                 pt cruiser
          ram 3D7KS28A48G193407                       2500
        rover SALSK254X7A986306                      sport
          ram 1D7RV1GT9BS686695                       1500
        rover SALSK254X7A986306                      sport
    chevrolet 1G1YS3D67G5608942                   corvette
    chevrolet 1G1YU2D69G5700414                   corvette
          ram 3D7LX39C06G212849               3500 cummins
         ford 1FA6P8JZ6L5551127                    mustang
    chevrolet 1G1YU2D67F5604134                   corvette
        dodge 2C3CDZH98JH100129             challenger srt
mercedes-benz WDDUG7JB0FA091124                    s-class
        dodge 2C3CDZH95JH100203             challenger srt
      ferrari ZFF65LJA0A0172228                 california
        tesla 5YJSA1E41JF269425                    model s
          bmw WBSJF0C04LCD41155                         m5
    chevrolet 3GNEK18R3TG140897                      tahoe
        buick 1G4GJ1175HP437987             grand national
        dodge 3C6UR5CL9JG122161                       2500